iCat.Catering.Client/Service References/CateringService/iCat.Catering.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/iCat.Catering.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/iCat.Catering.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EntityTypeCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="PType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="c_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="writeIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="writeTime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityTypeCode" nillable="true" type="tns:EntityTypeCode" />
</xs:schema>