iCat.Catering.Client/Service References/CateringService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ITypeCode_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/iCat.Catering.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITypeCode_AddTypeCode_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTypeCode" />
  </wsdl:message>
  <wsdl:message name="ITypeCode_AddTypeCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTypeCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ITypeCode_GetTypeCodes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeCodes" />
  </wsdl:message>
  <wsdl:message name="ITypeCode_GetTypeCodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeCodesResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ITypeCode">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AddTypeCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ITypeCode/AddTypeCode" message="tns:ITypeCode_AddTypeCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITypeCode/AddTypeCodeResponse" message="tns:ITypeCode_AddTypeCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetTypeCodes">
      <wsdl:input wsaw:Action="http://tempuri.org/ITypeCode/GetTypeCodes" message="tns:ITypeCode_GetTypeCodes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITypeCode/GetTypeCodesResponse" message="tns:ITypeCode_GetTypeCodes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ITypeCode" type="tns:ITypeCode">
    <wsp:PolicyReference URI="#NetTcpBinding_ITypeCode_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddTypeCode">
      <soap12:operation soapAction="http://tempuri.org/ITypeCode/AddTypeCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTypeCodes">
      <soap12:operation soapAction="http://tempuri.org/ITypeCode/GetTypeCodes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFService">
    <wsdl:port name="NetTcpBinding_ITypeCode" binding="tns:NetTcpBinding_ITypeCode">
      <soap12:address location="net.tcp://localhost:22222/ITypeCode" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:22222/ITypeCode</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>